


ul {
    list-style: none;
    padding: 5%;
}
body{
    margin: 0;
    font-weight: 700;
    color: rgb(56, 55, 55);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(240, 240, 240);
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-image: url("./images/bg-top.svg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size:contain;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    height: 40rem;
        
}
.container {
    background-image: url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-position: right top , left bottom;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    border: 1%;
    border-radius: 2%;
    width: 90%;
    margin: auto;
    max-width:100%; 
      /* text-align: center; */
   
}

li{
    padding: 5%;
}
.basic{
    text-align: center;
    height: 70%;
    background-color: hsl(2, 0%, 100%);
    width: 50%;
    border-color: aliceblue;
}
.professional{
    text-align: center;
    height:70%;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    border-color: aliceblue;
}
.master{
    text-align: center;
    height: 70%;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    border-color: aliceblue;
}


p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
}

.topic{
    text-align: center;
    position: relative;
    top:50%;
}
.first div:hover{
    background-color:  hsl(229, 81%, 68%);
    border-radius: 4%;
    height: 80%;
    width:60%;

}

button{
    color: azure;
    cursor: pointer;
    height: 10%;
    width: 70%;
    border-radius: 5%;
    border-width: 0;
    background-color:hsl(229, 81%, 68%);
}



.first div:hover button{
    background-color: azure;
    color: rgb(60, 119, 245);
}

hr{
    width: 80%;
}

.dots{
    color: blueviolet;
    position: absolute;
    top:100%;
    left: 10%;
    background-color: black;
    height: 10%;
    width: 30%;
    
}



@media (max-width:375px) {
    .container{
        position: relative;
        left: 4%;
    }
    .first{
        height: 80%;
        flex-direction: column;  
        width: 350px; 
        position: relative;
        right:20px;
            
    }
    .basic{
        position: relative;
        top:50%;
    }
    .professional{
        position: relative;
        top:50%;
    }
    .master{
        position: relative;
        top:50%;
    }
    body{
        font-size: 15px;
    }
    hr{
        width: 130px;
    }
    p{
        font-size: 35px;
    }
    button{
        height:20px;
        width: 130px;
    }

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }